/******************************
variables
******************************/
$navPlava: #09192c; 
$tamnoPlava: #0b193c;
$pink: #f91257;
$bela: white;
$svetloSiva: #f8f8f8;
$fontColor: #0b193c;
$violet: #383c6e;
$font: 16px;
$padding: 80px 0;
$fontFamily: 'Montserrat', sans-serif;
$transition: .3s ease;

/******************************
mixins
******************************/
@mixin flex($justify,$align,$direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    
}
@mixin btn {
    padding: 20px 40px;
    font-size: 1rem;
    background: $pink;
    color: $bela;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 40px;
    letter-spacing: 2px;
    &:hover {
        background: $violet;
        transition: $transition;
    }
}


/******************************
basic styles
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $font;
    color: $fontColor;
    font-family: $fontFamily;
    line-height: 1.5;
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $bela;
    &:hover {
        color: $pink;
        transition: $transition;
    }
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    span {
        color: $pink;
    }
}
.container {
    width: 80%;
    margin: auto;
}
h2 {
    font-size: 3rem;
    line-height: 1.1;
    @media (max-width: 767px){
        font-size: 2rem;
    }
}
// NAV
nav {
    background: $navPlava;
    @include flex(space-between, center , row);
    padding: 30px 60px;
    @media (max-width: 767px){
        @include flex(center, center , column); 
        padding: 20px;
    }
    & > a {
        @extend .logo;
    }
    ul {
        @include flex(space-between, center , row);
        li {
            margin-left: 50px;
            @media (max-width: 767px){
                margin: 10px;
            }
        }
    }
}

// FOOTER
footer {
    background: $navPlava;
    text-align: center;
    padding: $padding;
   p {
       color: $bela;
       padding: 15px 0;
       font-size: .8rem;
   }
   a {
       margin: 0 20px;
       font-size: 1.2rem;
   }
}
//header
.mainHeader {
    background: $tamnoPlava;
    color: $bela;
    padding: 0 60px;
    @media (max-width: 767px){
        padding: 20px;
    }
    @include flex(space-between,center ,row );
    div {
        flex:0 0 45%;
        @media (max-width: 767px){
            flex:0 0 100%;
        }
        img {
            width: 100%;
            padding: 40px 0;
        }
        h1 {
            font-size: 4rem;
            span {
                color:$pink;
            };
            @media (max-width: 767px){
                font-size: 2rem;
            }
        }
        button {
            @include btn;
        }
    }
}
// Unlimited
.unlimited {
    padding: $padding;
    @include flex(space-between,center , row )
    article {
        flex:0 0 48%;
        @media (max-width: 767px){
            flex:0 0 100%;
        }
        button {
            @include btn;
        }
    }
}
// hivHEader
.hivHeader {
    padding: $padding;
    background: $tamnoPlava;
    color: $bela;
    .container {
        @include flex(space-between,center ,row );
        div {
            flex: 0 0 30%;
            @media (max-width: 767px){
                flex:0 0 100%;
            }
            i {
                color: $pink;
                font-size: 4rem;
                margin: 30px 0;
            }
            h3 {
                margin: 0 0 30px 0;
                font-size: 1.7rem;
            }
        }
    }
}
// Artists
.artists {
    padding: $padding;
    article:first-child {
        @include flex(space-between,flex-start ,row );
        h2 {
            flex:0 0 48%;
            @media (max-width: 767px){
                flex:0 0 100%;
            }
        }
        p {
            flex: 0 0 48%;
            @media (max-width: 767px){
                flex:0 0 100%;
            }
        }
    }
    article:last-child {
        @include flex(space-between,center ,row );
        margin-top: 50px;
       div {
           flex:0 0 22%;
           @media (max-width: 767px){
            flex:0 0 100%;
        }
           text-align:center; 
           img {
                width: 100%;
                border-radius: 40px;
           }
       }
    }

}
// subscription
.subscription {
 background: $tamnoPlava;
 padding: $padding;
 color: $bela;
 .container {
     @include flex(space-between, center, row);
    div:first-child {
         flex: 0 0 48%;
         @media (max-width: 767px){
            flex:0 0 100%;
        }
         h4 {
             color: $pink;
             font-size: 1.8rem;
             padding: 15px 0;
         }
         button {
             @include btn;
         }
    }
    div:last-child {
        flex: 0 0 48%;
        background: rgba($bela,.1);
        border-radius: 30px;
        padding: 30px;
         @include flex(center,center ,row );
         @media (max-width: 767px){
            flex:0 0 100%;
            margin-top: 30px;
        }
        ul {
            line-height: 3;
            li::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900; 
                content: "\f058";
                margin-right: 10px;
                color: $pink;

            }
            
        }
    }
 }
}
// concept
.concept {
    @extend .artists;
    article:last-child {
        
       div {
           flex:0 0 15%;
           @media (max-width: 767px){
            flex:0 0 100%;
            margin-bottom: 40px;
        }
           img {
                 width: 80%;
                border-radius: 50%;
           }
       }
    }
}
